passdb {
  driver = passwd-file
  args = {{ mail_server_passdb }}
}

userdb {
  driver = static
  args = uid=dovecot gid=dovecot home={{ mail_server_dovecot_vusersdir }}/%u mail={{ mail_server_dovecot_vusersdir }}/%u/mail
}
