# These things are needed for virus scanning and spam checking

av_scanner = clamd:/run/clamav/clamd.ctl
spamd_address = 127.0.0.1 783

CHECK_RCPT_SPF = 1
CHECK_RCPT_IP_DNSBLS = zen.spamhaus.org:bl.spamcop.net:bl.mailspike.net:safe.dnsbl.sorbs.net

CHECK_RCPT_LOCAL_ACL_FILE = /etc/exim4/local_acl_rcpt
CHECK_DATA_LOCAL_ACL_FILE = /etc/exim4/local_acl_data

MAIN_TLS_ENABLE = 1
MAIN_TLS_CERTIFICATE = /srv/lego/certificates/{{ ansible_fqdn }}.crt
MAIN_TLS_PRIVATEKEY = /srv/lego/certificates/{{ ansible_fqdn }}.key

daemon_smtp_port = 25 : 465 : 587
tls_on_connect_ports = 465

REMOTE_SMTP_TRANSPORTS_HEADERS_REMOVE = Received

{% if mail_server.dkim is defined %}
DKIM_CANON = relaxed
DKIM_SELECTOR = {{ mail_server.dkim.selector }}
DKIM_DOMAIN = ${lc:${domain:$h_from:}}
DKIM_PRIVATE_KEY = /etc/exim4/dkim.private.key
MAIN_LOG_SELECTOR = +dkim_verbose
{% endif %}
