## {{ansible_managed }}

# Accept mail for users which exist in dovecot

router_dovecot:
  debug_print = "R: router_dovecot for potential Dovecot user $local_part"
  driver = accept

  # Only accept mail for our domains in this router
  domains = +local_domains

  transport = transport_dovecot
