MYTHICBEASTS_USERNAME={{ lego.mythicbeasts.api_user }}
MYTHICBEASTS_PASSWORD={{ lego.mythicbeasts.api_pass }}
MYTHICBEASTS_PROPAGATION_TIMEOUT={{ lego.mythicbeasts.timeout | default('1800') }}
MYTHICBEASTS_POLLING_INTERVAL={{ lego.mythicbeasts.interval | default ('10') }}
