[tls.options]

  [tls.options.default]
    minVersion = "VersionTLS12"
    curvePreferences = ["CurveP521", "CurveP384"]
    sniStrict = true
    cipherSuites = [
        "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384",
        "TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305",
        "TLS_AES_256_GCM_SHA384",
        "TLS_CHACHA20_POLY1305_SHA256"
    ]

[http.routers]
  {% if traefik.dashboard.user is defined and traefik.dashboard.password is defined -%}
  # Dynamic Configuration
  [http.routers.dashboard]
    rule = "Host(`{{ inventory_hostname }}`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
    service = "api@internal"
    middlewares = ["dashboard_auth"]
    entrypoints = ["web", "websecure"]

    [http.routers.dashboard.tls]
      certresolver = "mythicdns"
  {%- endif %}

[http.middlewares]
  {% if traefik.dashboard.user is defined and traefik.dashboard.password is defined -%}
  [http.middlewares.dashboard_auth.basicAuth]
    users = [
      "{{ traefik.dashboard.user }}:{{ traefik.dashboard.password | trim | password_hash('blowfish','123456789012345678901e') }}"
    ]
  {%- endif %}
