[providers]
  [providers.file]
    filename = "/etc/traefik/dynamic.toml"

  [providers.docker]
    exposedByDefault = false

[log]
  level = "{{ traefik.loglevel|default('INFO') }}"

[entryPoints]
  [entryPoints.web]
    address = ":80"
    [entryPoints.web.http]
      [entryPoints.web.http.redirections]
        [entryPoints.web.http.redirections.entrypoint]
          to = "websecure"
          scheme = "https"

  [entryPoints.websecure]
    address = ":443"

[certificatesResolvers]
  [certificatesResolvers.mythicdns]
    [certificatesResolvers.mythicdns.acme]
      email = "admin@libit.co.uk"
      storage = "/etc/traefik/acme.json"
      [certificatesResolvers.mythicdns.acme.dnsChallenge]
        provider = "mythicbeasts"

[serversTransport]
  insecureSkipVerify = true

{% if traefik.dashboard is defined %}
[api]
  dashboard = "True"
{% endif %}
