{%- set gitlab_config -%}
external_url 'https://{{ gitlab.domain }}';
nginx['listen_port'] = 80;
nginx['listen_https'] = false;
registry['enable'] = true;
registry_external_url 'https://{{ gitlab.registry }}';
registry_nginx['listen_https'] = false;
registry_nginx['listen_port'] = 80;

{%- if gitlab.mail is defined -%}
gitlab_rails['gitlab_email_enabled'] = "true";
gitlab_rails['gitlab_email_from'] = "{{ gitlab.mail.outgoing_address }}";
gitlab_rails['gitlab_email_display_name'] = "{{ gitlab.mail.display_name }}";

gitlab_rails['smtp_enable'] = "true";
gitlab_rails['smtp_address'] = "{{ gitlab.mail.server }}";
gitlab_rails['smtp_port'] = "{{ gitlab.mail.smtp_port|default('587') }}";
gitlab_rails['smtp_user_name'] = "{{ gitlab.mail.user_name }}";
gitlab_rails['smtp_password'] = "{{ gitlab.mail.password }}";
gitlab_rails['smtp_domain'] = "{{ gitlab.mail.smtp_domain|default(gitlab.domain) }}";
gitlab_rails['smtp_authentication'] = "{{ gitlab.mail.smtp_auth_method|default('login') }}";
{% if gitlab.mail.encryption == 'ssl' %}
gitlab_rails['smtp_tls'] = 'true';
{% elif gitlab.mail.encryption == 'starttls' %}
gitlab_rails['smtp_enable_starttls_auto'] = 'true';
{% endif %}
gitlab_rails['smtp_openssl_verify_mode'] = "{{ gitlab.mail.ssl_verify | default('peer') }}";

gitlab_rails['incoming_email_enabled'] = "true";
gitlab_rails['incoming_email_address'] = "{{ gitlab.mail.incoming_address }}";
gitlab_rails['incoming_email_email'] = "{{ gitlab.mail.user_name }}";
gitlab_rails['incoming_email_password'] = "{{ gitlab.mail.password }}";
gitlab_rails['incoming_email_host'] = "{{ gitlab.mail.server }}";
gitlab_rails['incoming_email_port'] = "{{ gitlab.mail.smtp_port|default('993') }}";
gitlab_rails['incoming_email_ssl'] = "{{ gitlab.mail.imap_tls | default('true') }}";
gitlab_rails['incoming_email_mailbox_name'] = "inbox";
{%- endif -%}

{%- endset -%}
{{ gitlab_config | replace("\n", " ") }}
