[DEFAULT]

{% if fail2ban.ignoreip is defined %}
ignoreip = {{ fail2ban.ignoreip | join(' ') }}
{% endif %}
{% if fail2ban.bantime_increment is defined %}
bantime.increment = {{ fail2ban.bantime_increment }}
{% endif %}
{% if fail2ban.bantime is defined %}
bantime = {{ fail2ban.bantime }}
{% endif %}
{% if fail2ban.findtime is defined %}
findtime = {{ fail2ban.findtime }}
{% endif %}
{% if fail2ban.maxretry is defined %}
maxretry = {{ fail2ban.maxretry }}
{% endif %}
